<%-include("partials/header.ejs")-%>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">CENTRALIZED MEDICAL RECORD SYSTEM </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Get records by a click of a mouse</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">APPROVED REQUESTS</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">PENDING REQUESTS</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">SUCCESSFUL REQUESTS</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    LAST PATIENTS
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>E-mail</th>
                                <th>Gender</th>
                                <th>RESIDENCE</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Patient ID</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>E-mail</th>
                                <th>Gender</th>
                                <th>RESIDENCE</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>4387395</td>
                                <td>YUSUPH MANZI</td>
                                <td>61</td>
                                <td>yusef@gmail.com</td>
                                <td>MALE</td>
                                <td>DAR ES SALAAM</td>
                            </tr>
                            
                            <tr>
                                <td>4387395</td>
                                <td>JUMA KAPIPI</td>
                                <td>45</td>
                                <td>kpp@gmail.com</td>
                                <td>MALE</td>
                                <td>DAR ES SALAAM</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>
</html>
